@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;

  font-family: "Poppins", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a,
:link {
  text-decoration: none;
}
li {
  list-style-type: none;
}
